body{
    font-family: 'Poppins', sans-serif;
    margin: 5%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 60%;
    height: 70%;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 900;
}
.one-third{
    width: 33%;
    padding-left: 2%;
}
.one-third img{
    width: 50%;
}
.mission{
    text-align: center;
}
.forty-sixty{
    width: 80%;
}
.forty-sixty img{
    width: 100%;
}
.last-port{
    width: 50%;
    
}
.last-port img{
    width: 75%;
    height: 70%;
}
.f-last{
    text-align: center;
}
.side-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}